<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphShape" version="1.1.0" targetFramework="net45" />
  <package id="GraphShape.Controls" version="1.1.0" targetFramework="net45" />
  <package id="QuikGraph" version="2.2.0" targetFramework="net45" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net45" />
</packages>